# BasicProgramming2

## 1. Write a Python program to convert kilometers to miles?

In [3]:
def conversion():
    km = float(input('Enter Kilometers: '))
    miles = km * 0.621371
    print(f'{km} kilometers is {miles} miles')

conversion()

Enter Kilometers: 1.6
1.6 kilometers is 0.9941936 miles

## 2. Write a Python program to convert Celsius to Fahrenheit?

In [12]:
def degree():
    celsius = float(input('Enter temperature in Celsius: '))
    fahrenheit = (celsius * (9/5)) + 32
    print(f'{celsius}°C is {fahrenheit}°F')
    
degree()

Enter temperature in Celsius: 13.2
13.2°C is 55.76°F

## 3. Write a Python program to display calendar?

In [16]:
import calendar

def calendar_year():
    try:
        year = int(input('Enter year'))
        print(calendar.calendar(year))
    except Exception as e:
        print('Error:' ,e)
    
calendar_year()

Enter year2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

## 4. Write a Python program to solve quadratic equation?

In [36]:
import cmath

def quad_eqn(a,b,c):
    try:
        discriminant = (b*b) - (4*a*c)

        #(α, β) = [-b ± √(b2 – 4ac)]/2a
        eqn1 = (-b - cmath.sqrt(discriminant))/(2*a)
        eqn2 = (-b + cmath.sqrt(discriminant))/(2*a)

        print('Eqn is {0} and {1}'.format(eqn1, eqn2))
    except Exception as e:
        print('Error: ',e)

quad_eqn(1,5,6)

Eqn is (-3+0j) and (-2+0j)

## 5.	Write a Python program to swap two variables without temp variable?

In [41]:
def swap(a,b):
    a,b = b,a
    print('Value of a after swapping is', a)
    print('Values of b after swapping is', b)

swap(1,22)

Value of a after swapping is 22
Values of b after swapping is 1