# Basic Programming 23

## Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.<br>
Examples<br>
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [14]:
def is_symmetrical(num):
    num = str(num)

    reverse = num[::-1]

    if num == reverse:
        return True
    else:
        return False
    
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

## Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.<br>
Examples<br>
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [38]:
def multiply_nums(num):
    num = num.replace(" ", '').split(',')
    mul = 1

    for i in num:
        mul *= int(i)

    return mul

print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

## Question 3
Create a function that squares every digit of a number.<br>
Examples<br>
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414<br>
Notes<br>
The function receives an integer and must return an integer.

In [67]:
def square_digits(num):
    try:
        sqr = []
        digits = ''

        for i in str(num):
            sqr.append(int(i) ** 2)

        for i in sqr:
            digits += str(i)

        return digits
    except Exception as e:
        print(e)
        
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

## Question 4
Create a function that sorts a list and removes all duplicate items from it.<br>
Examples<br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [75]:
def setify(list):
    try:
        ls = sorted(set(list))
        return ls
    except exception as e:
        print(e)
        
print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

## Question 5
Create a function that returns the mean of all digits.<br>
Examples<br>
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6<br>
Notes<br>
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).<br>
•	The mean will always be an integer.<br>

In [102]:
def mean(num):
    sum = 0
    n = len(str(num))

    for i in str(num):
        sum += int(i)

    mean = sum/n
    return int(mean)

print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6