# Basic Programming 4

## 1. Write a Python Program to Find the Factorial of a Number?

In [5]:
def factorial():
    fact = 1
    num = int(input('Enter a value: '))
    
    if num < 1:
        print('Cannot find factorial for a negative number')
        
    elif num == 0:
        print('Factorial of 0 is 1')
        
    else:
        for i in range(1, num+1):
            fact = fact*i
        print(f'Factorial of {num} is {fact}')
        
factorial()

Enter a value: 5
Factorial of 5 is 120

## 2. Write a Python Program to Display the multiplication Table?

In [10]:
def mul_table():
    num = int(input('Enter a number: '))
    max = int(input('Enter max multiplier: '))
    if num > 0:
        for i in range(1, max+1):
            print(f'{num} x {i} = ' ,(num*i))
        
mul_table()

Enter a number: 12
Enter max multiplier: 12
12 x 1 =  12
12 x 2 =  24
12 x 3 =  36
12 x 4 =  48
12 x 5 =  60
12 x 6 =  72
12 x 7 =  84
12 x 8 =  96
12 x 9 =  108
12 x 10 =  120
12 x 11 =  132
12 x 12 =  144

## 3. Write a Python Program to Print the Fibonacci sequence?

In [5]:
def fibonacci():
    a = 1
    b = 1
    l = []
    max = int(input('Enter the max value: '))
    while b < max:    
        a,b = b, a+b
        l.append(a)
        l.append(b)
    fib = set(l)
    return fib
    
fibonacci()

Enter the max value: 25

{1, 2, 3, 5, 8, 13, 21, 34}

## 4. Write a Python Program to Check Armstrong Number?

In [18]:
def armstrong():    
    n = input('Enter a number:')
    sum = 0
    for i in n:
        sum += int(i) ** 3
    if sum == int(n):
        print('Armstrong number')
    else:
        print('Not Armstrong')
        
armstrong()

Enter a number:371
Armstrong number

## 5. Write a Python Program to Find Armstrong Number in an Interval?

In [23]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  

l=[]

for num in range(lower,upper + 1):  
    pow = len(str(num))
    sum = 0  
    temp = num  
    while temp > 0:  
        digit = temp % 10  
        sum += digit ** pow
        temp //= 10  
        if num == sum:  
            l.append(num)
print(l)

Enter lower range: 10
Enter upper range: 2000
[25, 36, 125, 153, 216, 370, 371, 407, 729, 1296, 1634]

## 6. Write a Python Program to Find the Sum of Natural Numbers?

In [21]:
def find_nat():
    sum = 0
    n = int(input('Enter range: '))
    for i in range(n+1):
        sum += i 
    print(sum)
    
find_nat()

Enter range: 100
5050