# SQL Assignment 3

In [1]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)

In [2]:
cursor.execute('use Worker')

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [3]:
cursor.execute('select rtrim(first_name) from Worker')
cursor.fetchall()

[('Vishal',),
 ('Rahul',),
 ('Anisha',),
 ('Saksham',),
 ('Aakash',),
 ('Ankit',),
 ('Riya',),
 ('Nishit',),
 ('Samay',),
 ('Aman',),
 ('Sarthak',),
 ('Ashutosh',),
 ('Harshit',),
 ('Ayush',),
 ('Shreyansh',),
 ('Aryan',),
 ('Snehal',),
 ('Shubham',),
 ('Rakshit',)]

## Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [7]:
cursor.execute('select distinct department, length(department) from Worker')
cursor.fetchall()

[('Finance', 7), ('HR', 2), ('Purchase', 8), ('Marketing', 9), ('PR', 2)]

## Q-3. Write an SQL query to fetch nth max salaries from a table.

In [13]:
cursor.execute('select * from Worker1 order by salary desc')
cursor.fetchall()

[('Shashvath', 'Analyst', 1200000),
 ('SD', 'Finance', 322010),
 ('SC', 'Finance', 122010),
 ('SE', 'Analyst', 122010),
 ('SR', 'Finance', 120000),
 ('SB', 'HR', 22010),
 ('SF', 'Analyst', 22010),
 ('SA', 'HR', 12010),
 ('SD', 'HR', 12000)]

In [19]:
#n = 1
cursor.execute('select first_name, salary from Worker1 w1 where 1-1 = (select count(distinct salary) from Worker1 w2 where w2.salary > w1.salary)')
cursor.fetchall()

[('Shashvath', 1200000)]

In [20]:
#n = 2
cursor.execute('select first_name, salary from Worker1 w1 where 2-1 = (select count(distinct salary) from Worker1 w2 where w2.salary > w1.salary)')
cursor.fetchall()

[('SD', 322010)]

In [21]:
#n = 3
cursor.execute('select first_name, salary from Worker1 w1 where 3-1 = (select count(distinct salary) from Worker1 w2 where w2.salary > w1.salary)')
cursor.fetchall()

[('SC', 122010), ('SE', 122010)]

## using limit<br>
formula = limit N-1, 1

In [23]:
#n = 1
cursor.execute('select * from Worker1 order by salary desc limit 1')
cursor.fetchall()

[('Shashvath', 'Analyst', 1200000)]

In [26]:
#n = 2
cursor.execute('select * from Worker1 order by salary desc limit 1, 1')
cursor.fetchall()

[('SD', 'Finance', 322010)]

In [27]:
#n = 3
cursor.execute('select * from Worker1 order by salary desc limit 2, 1')
cursor.fetchall()

[('SC', 'Finance', 122010)]