# SQL Assignment 9

In [1]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)
cursor.execute('use Worker')

## Q-17.  Write an SQL query to show the top n (say 10) records of a table.

In [5]:
cursor.execute('select * from Worker limit 10')
cursor.fetchall()

[(1, 'Vishal', 'Rathore', 'Finance'),
 (2, 'Rahul', 'Sarathe', 'HR'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (4, 'Saksham', 'Mahajan', 'Finance'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (6, 'Ankit', 'Kumar', 'Marketing'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (8, 'Nishit', 'Sharma', 'Purchase'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (10, 'Aman', 'Singh', 'Finance')]

## Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
limit N-1,1

In [7]:
cursor.execute('use employees')

In [11]:
cursor.execute('select * from employee order by salary desc limit 4,1')
cursor.fetchall()

[(122, 'Ibrahim', 'IT', 8000)]