# SQL Assignment 8

In [2]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)
cursor.execute('use Worker')

## Q-15. Write an SQL query to fetch intersecting records of two tables.

In [18]:
cursor.execute('select w1.id, w1.first_name, w1.last_name from Worker w1 inner join new_Worker1 w2 on w1.id = w2.id')
cursor.fetchall()

[(1, 'Vishal', 'Rathore'),
 (2, 'Rahul', 'Sarathe'),
 (3, 'Anisha', 'Gour'),
 (4, 'Saksham', 'Mahajan'),
 (5, 'Aakash', 'Singh'),
 (6, 'Ankit', 'Kumar'),
 (7, 'Riya', 'Agarwal'),
 (8, 'Nishit', 'Sharma'),
 (9, 'Samay', 'Raina'),
 (10, 'Aman', 'Singh'),
 (11, 'Sarthak', 'Jain'),
 (12, 'Ashutosh', 'Patil'),
 (13, 'Harshit', 'Kumar'),
 (14, 'Ayush', 'Srivastav'),
 (15, 'Shreyansh', 'Deriya'),
 (16, 'Aryan', 'Sharma'),
 (17, 'Snehal', 'Reddy'),
 (18, 'Shubham', 'Mittal'),
 (19, 'Rakshit', 'Rao')]

## Q-16. Write an SQL query to show records from one table that another table does not have.

In [20]:
cursor.execute('select * from new_Worker')
cursor.fetchall()

[]

In [19]:
#new_Worker table has no values
cursor.execute('select w1.id, w1.first_name, w1.last_name from Worker w1 left join new_Worker w2 on w1.id = w2.id')
cursor.fetchall()

[(1, 'Vishal', 'Rathore'),
 (2, 'Rahul', 'Sarathe'),
 (3, 'Anisha', 'Gour'),
 (4, 'Saksham', 'Mahajan'),
 (5, 'Aakash', 'Singh'),
 (6, 'Ankit', 'Kumar'),
 (7, 'Riya', 'Agarwal'),
 (8, 'Nishit', 'Sharma'),
 (9, 'Samay', 'Raina'),
 (10, 'Aman', 'Singh'),
 (11, 'Sarthak', 'Jain'),
 (12, 'Ashutosh', 'Patil'),
 (13, 'Harshit', 'Kumar'),
 (14, 'Ayush', 'Srivastav'),
 (15, 'Shreyansh', 'Deriya'),
 (16, 'Aryan', 'Sharma'),
 (17, 'Snehal', 'Reddy'),
 (18, 'Shubham', 'Mittal'),
 (19, 'Rakshit', 'Rao')]

In [7]:
#since the tables are clone it will return none
cursor.execute('select first_name from new_Worker1 where first_name not in (select first_name from Worker)')
cursor.fetchall()

[]

In [10]:
cursor.execute('select first_name from Worker where first_name not in (select first_name from new_Worker)')
cursor.fetchall()

[('Vishal',),
 ('Rahul',),
 ('Anisha',),
 ('Saksham',),
 ('Aakash',),
 ('Ankit',),
 ('Riya',),
 ('Nishit',),
 ('Samay',),
 ('Aman',),
 ('Sarthak',),
 ('Ashutosh',),
 ('Harshit',),
 ('Ayush',),
 ('Shreyansh',),
 ('Aryan',),
 ('Snehal',),
 ('Shubham',),
 ('Rakshit',)]