# SQL Assignment 1

In [57]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)

In [63]:
#Dataset
cursor.execute('Select * from Worker.Worker')
cursor.fetchall()

[(1, 'Vishal', 'Rathore', 'Finance'),
 (2, 'Rahul', 'Sarathe', 'HR'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (4, 'Saksham', 'Mahajan', 'Finance'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (6, 'Ankit', 'Kumar', 'Marketing'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (8, 'Nishit', 'Sharma', 'Purchase'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (10, 'Aman', 'Singh', 'Finance'),
 (11, 'Sarthak', 'Jain', 'Purchase'),
 (12, 'Ashutosh', 'Patil', 'PR'),
 (13, 'Harshit', 'Kumar', 'HR'),
 (14, 'Ayush', 'Srivastav', 'Purchase'),
 (15, 'Shreyansh', 'Deriya', 'PR'),
 (16, 'Aryan', 'Sharma', 'Finance'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (18, 'Shubham', 'Mittal', 'PR'),
 (19, 'Rakshit', 'Rao', 'Marketing')]

# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME.

In [59]:
cursor.execute('select first_name from Worker.Worker;')
cursor.fetchall()

[('Vishal',),
 ('Rahul',),
 ('Anisha',),
 ('Saksham',),
 ('Aakash',),
 ('Ankit',),
 ('Riya',),
 ('Nishit',),
 ('Samay',),
 ('Aman',),
 ('Sarthak',),
 ('Ashutosh',),
 ('Harshit',),
 ('Ayush',),
 ('Shreyansh',),
 ('Aryan',),
 ('Snehal',),
 ('Shubham',),
 ('Rakshit',)]

## Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [61]:
cursor.execute('SELECT DISTINCT department from Worker.Worker')
cursor.fetchall()

[('Finance',), ('HR',), ('Purchase',), ('Marketing',), ('PR',)]

## Q-3. Write an SQL query to show the last 5 record from a table.

In [72]:
cursor.execute('SELECT * from Worker.Worker ORDER BY ID DESC LIMIT 5')
cursor.fetchall()

[(19, 'Rakshit', 'Rao', 'Marketing'),
 (18, 'Shubham', 'Mittal', 'PR'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (16, 'Aryan', 'Sharma', 'Finance'),
 (15, 'Shreyansh', 'Deriya', 'PR')]