# SQL Assignment 2

In [1]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)

In [2]:
cursor.execute('use Worker')

In [6]:
cursor.execute('select * from Worker')
cursor.fetchall()

[(1, 'Vishal', 'Rathore', 'Finance'),
 (2, 'Rahul', 'Sarathe', 'HR'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (4, 'Saksham', 'Mahajan', 'Finance'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (6, 'Ankit', 'Kumar', 'Marketing'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (8, 'Nishit', 'Sharma', 'Purchase'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (10, 'Aman', 'Singh', 'Finance'),
 (11, 'Sarthak', 'Jain', 'Purchase'),
 (12, 'Ashutosh', 'Patil', 'PR'),
 (13, 'Harshit', 'Kumar', 'HR'),
 (14, 'Ayush', 'Srivastav', 'Purchase'),
 (15, 'Shreyansh', 'Deriya', 'PR'),
 (16, 'Aryan', 'Sharma', 'Finance'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (18, 'Shubham', 'Mittal', 'PR'),
 (19, 'Rakshit', 'Rao', 'Marketing')]

## Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [8]:
cursor.execute('select substring(first_name,1,3) from Worker')
cursor.fetchall()

[('Vis',),
 ('Rah',),
 ('Ani',),
 ('Sak',),
 ('Aak',),
 ('Ank',),
 ('Riy',),
 ('Nis',),
 ('Sam',),
 ('Ama',),
 ('Sar',),
 ('Ash',),
 ('Har',),
 ('Ayu',),
 ('Shr',),
 ('Ary',),
 ('Sne',),
 ('Shu',),
 ('Rak',)]

## Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [16]:
#No Amitabh hence used diff name
cursor.execute("Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Vishal'")
cursor.fetchall()

[(5,)]

## Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [4]:
#Dataset
cursor.execute('select * from Worker1')
cursor.fetchall()

[('Shashvath', 'Analyst', 1200000),
 ('SR', 'Finance', 120000),
 ('SD', 'HR', 12000),
 ('SA', 'HR', 12010),
 ('SB', 'HR', 22010),
 ('SC', 'Finance', 122010),
 ('SD', 'Finance', 322010),
 ('SE', 'Analyst', 122010),
 ('SF', 'Analyst', 22010)]

In [6]:
cursor.execute('select first_name, department, max(salary) from Worker1 group by department')
cursor.fetchall()

[('Shashvath', 'Analyst', 1200000),
 ('SR', 'Finance', 322010),
 ('SD', 'HR', 22010)]