# SQL Assignment 7

In [1]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)
cursor.execute('use Worker')

## Q-13. Write an SQL query to show only odd rows from a table.

In [5]:
cursor.execute('select * from Worker where (ID%2) = 1')
cursor.fetchall()

[(1, 'Vishal', 'Rathore', 'Finance'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (11, 'Sarthak', 'Jain', 'Purchase'),
 (13, 'Harshit', 'Kumar', 'HR'),
 (15, 'Shreyansh', 'Deriya', 'PR'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (19, 'Rakshit', 'Rao', 'Marketing')]

## Q-14. Write an SQL query to clone a new table from another table.

In [8]:
#Create clone of table
cursor.execute('create table new_Worker like Worker')

In [10]:
#insert values from original
cursor.execute('insert into new_Worker select * from Worker')

In [12]:
cursor.execute('select * from new_Worker')
cursor.fetchall()

[(1, 'Vishal', 'Rathore', 'Finance'),
 (2, 'Rahul', 'Sarathe', 'HR'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (4, 'Saksham', 'Mahajan', 'Finance'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (6, 'Ankit', 'Kumar', 'Marketing'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (8, 'Nishit', 'Sharma', 'Purchase'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (10, 'Aman', 'Singh', 'Finance'),
 (11, 'Sarthak', 'Jain', 'Purchase'),
 (12, 'Ashutosh', 'Patil', 'PR'),
 (13, 'Harshit', 'Kumar', 'HR'),
 (14, 'Ayush', 'Srivastav', 'Purchase'),
 (15, 'Shreyansh', 'Deriya', 'PR'),
 (16, 'Aryan', 'Sharma', 'Finance'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (18, 'Shubham', 'Mittal', 'PR'),
 (19, 'Rakshit', 'Rao', 'Marketing')]