# SQL Assignment 5

In [14]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)
cursor.execute('use Worker')

In [15]:
#data
cursor.execute('select * from Worker')
cursor.fetchall()

[(1, 'Vishal', 'Rathore', 'Finance'),
 (2, 'Rahul', 'Sarathe', 'HR'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (4, 'Saksham', 'Mahajan', 'Finance'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (6, 'Ankit', 'Kumar', 'Marketing'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (8, 'Nishit', 'Sharma', 'Purchase'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (10, 'Aman', 'Singh', 'Finance'),
 (11, 'Sarthak', 'Jain', 'Purchase'),
 (12, 'Ashutosh', 'Patil', 'PR'),
 (13, 'Harshit', 'Kumar', 'HR'),
 (14, 'Ayush', 'Srivastav', 'Purchase'),
 (15, 'Shreyansh', 'Deriya', 'PR'),
 (16, 'Aryan', 'Sharma', 'Finance'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (18, 'Shubham', 'Mittal', 'PR'),
 (19, 'Rakshit', 'Rao', 'Marketing')]

## Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [23]:
#We will exclude "Vishal" and "Saksham"
cursor.execute("select * from Worker where first_name not in ('Vishal', 'Saksham')")
cursor.fetchall()

[(2, 'Rahul', 'Sarathe', 'HR'),
 (3, 'Anisha', 'Gour', 'Purchase'),
 (5, 'Aakash', 'Singh', 'Purchase'),
 (6, 'Ankit', 'Kumar', 'Marketing'),
 (7, 'Riya', 'Agarwal', 'Finance'),
 (8, 'Nishit', 'Sharma', 'Purchase'),
 (9, 'Samay', 'Raina', 'Marketing'),
 (10, 'Aman', 'Singh', 'Finance'),
 (11, 'Sarthak', 'Jain', 'Purchase'),
 (12, 'Ashutosh', 'Patil', 'PR'),
 (13, 'Harshit', 'Kumar', 'HR'),
 (14, 'Ayush', 'Srivastav', 'Purchase'),
 (15, 'Shreyansh', 'Deriya', 'PR'),
 (16, 'Aryan', 'Sharma', 'Finance'),
 (17, 'Snehal', 'Reddy', 'HR'),
 (18, 'Shubham', 'Mittal', 'PR'),
 (19, 'Rakshit', 'Rao', 'Marketing')]

## Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [24]:
cursor.execute('select * from worker where first_name like "_____h"')
cursor.fetchall()

[(5, 'Aakash', 'Singh', 'Purchase')]

## Q-3. Write a query to validate Email of Employee.

In [ ]:
cursor.execute('select * from Worker where email like "%@gmail.com"')