# SQL Assignment 10

In [3]:
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'Cricket', use_pure = True)
cursor = mydb.cursor(buffered=True)
cursor.execute('use employees')

## Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [15]:
cursor.execute('select emp_name, row_number() over (order by salary desc)r from employee')
cursor.fetchall()

[('Dheeraj', 1),
 ('Komal', 2),
 ('Melinda', 3),
 ('Cory', 4),
 ('Ibrahim', 5),
 ('Vikram', 6),
 ('Preet', 7),
 ('Vasudha', 8),
 ('Dorvin', 9),
 ('Sanjay', 10),
 ('Satya', 11),
 ('Rosalin', 12),
 ('Tejaswi', 13),
 ('Rajesh', 14),
 ('Monica', 15),
 ('Chandni', 16),
 ('Mohan', 17),
 ('Akbar', 18),
 ('Maryam', 19),
 ('Adarsh', 20),
 ('Rajkumar', 21),
 ('Rohit', 22),
 ('Manisha', 23),
 ('Gautham', 24)]

In [23]:
cursor.execute('select * from (select emp_name, row_number() over (order by salary desc)r from employee) a where r = 5')
cursor.fetchall()

[('Ibrahim', 5)]

## Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [35]:
cursor.execute('select * from employee where salary in (select salary from employee group by salary having count(*) > 1) order by salary')
cursor.fetchall()

[(102, 'Rajkumar', 'HR', 3000),
 (105, 'Rohit', 'HR', 3000),
 (114, 'Manisha', 'HR', 3000),
 (101, 'Mohan', 'Admin', 4000),
 (103, 'Akbar', 'IT', 4000),
 (108, 'Maryam', 'Admin', 4000),
 (106, 'Rajesh', 'Finance', 5000),
 (120, 'Monica', 'Admin', 5000),
 (104, 'Dorvin', 'Finance', 6500),
 (109, 'Sanjay', 'IT', 6500),
 (116, 'Satya', 'Finance', 6500),
 (107, 'Preet', 'HR', 7000),
 (110, 'Vasudha', 'IT', 7000),
 (111, 'Melinda', 'IT', 8000),
 (119, 'Cory', 'HR', 8000),
 (122, 'Ibrahim', 'IT', 8000),
 (123, 'Vikram', 'IT', 8000)]